{
    "swagger": "2.0",
    "info": {
        "title": "Bind ERP API",
        "version": "1.0"
    },
    "host": "api.bind.com.mx",
    "schemes": [
        "http",
        "https"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "paths": {
        "/api/AccountingJournals": {
            "get": {
                "description": "Obtiene la lista de pólizas contables.",
                "operationId": "AccountingJournals_Get",
                "summary": "Obtiene la lista de pólizas contables.",
                "tags": [
                    "AccountingJournals"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AccountingJournalPage"
                        }
                    }
                }
            },
            "put": {
                "description": "Editar póliza contable",
                "operationId": "AccountingJournals_EditAccountingJournal",
                "summary": "Editar póliza contable",
                "tags": [
                    "AccountingJournals"
                ],
                "parameters": [
                    {
                        "name": "editAccountingJournal",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EditAccountingJournal"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiAccountingJournalsPut200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            },
            "post": {
                "description": "Agregar póliza contable",
                "operationId": "AccountingJournals_AddAccountingJournal",
                "summary": "Agregar póliza contable",
                "tags": [
                    "AccountingJournals"
                ],
                "parameters": [
                    {
                        "name": "newAccountingJournal",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewAccountingJournal"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiAccountingJournalsPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            },
            "delete": {
                "description": "Eliminar póliza contable",
                "operationId": "AccountingJournals_DeleteAccountingJournal",
                "summary": "Eliminar póliza contable",
                "tags": [
                    "AccountingJournals"
                ],
                "parameters": [
                    {
                        "name": "idList",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/IdList"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/AccountCategories": {
            "get": {
                "description": "Obtiene las categorías de cuentas contables.",
                "operationId": "Accounts_GetAccountCategories",
                "summary": "Obtiene las categorías de cuentas contables.",
                "tags": [
                    "Accounts"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AccountCategories"
                        }
                    }
                }
            }
        },
        "/api/Accounts": {
            "get": {
                "description": "Obtiene la lista de cuentas contables.",
                "operationId": "Accounts_Get",
                "summary": "Obtiene la lista de cuentas contables.",
                "tags": [
                    "Accounts"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AccountPage"
                        }
                    }
                }
            },
            "post": {
                "description": "Agregar Cuenta Contable",
                "operationId": "Accounts_AddAccount",
                "summary": "Agregar Cuenta Contable",
                "tags": [
                    "Accounts"
                ],
                "parameters": [
                    {
                        "name": "newAccount",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewAccount"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiAccountsPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            }
        },
        "/api/Accounts/{id}": {
            "delete": {
                "description": "Borrar Cuenta Contable",
                "operationId": "Accounts_DeleteAccount",
                "summary": "Borrar Cuenta Contable",
                "tags": [
                    "Accounts"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "replacementID",
                        "in": "query",
                        "description": "Format - uuid.",
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/Activities": {
            "get": {
                "description": "Listar actividades",
                "operationId": "Activities_Get",
                "summary": "Listar actividades",
                "tags": [
                    "Activities"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ActivityPage"
                        }
                    }
                }
            },
            "post": {
                "description": "Agregar actividad",
                "operationId": "Activities_AddActivity",
                "summary": "Agregar actividad",
                "tags": [
                    "Activities"
                ],
                "parameters": [
                    {
                        "name": "newActivity",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewActivity"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/BankAccounts": {
            "get": {
                "description": "Obtiene la lista de cuentas bancarias.",
                "operationId": "BankAccounts_Get",
                "summary": "Obtiene la lista de cuentas bancarias.",
                "tags": [
                    "BankAccounts"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BankAccountPage"
                        }
                    }
                }
            },
            "post": {
                "description": "Agregar un ajuste de cuenta bancaria.",
                "operationId": "BankAccounts_AddAccountAdjustment",
                "summary": "Agregar un ajuste de cuenta bancaria.",
                "tags": [
                    "BankAccounts"
                ],
                "parameters": [
                    {
                        "name": "newAccountAdjustment",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewAccountAdjustment"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiBankAccountsPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            }
        },
        "/api/PriceLists": {
            "get": {
                "description": "Obtiene la lista de precios.",
                "operationId": "Catalogs_GetPriceLists",
                "summary": "Obtiene la lista de precios.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PriceListPage"
                        }
                    }
                }
            }
        },
        "/api/Locations": {
            "get": {
                "description": "Obtiene la lista de sucursales.",
                "operationId": "Catalogs_GetLocations",
                "summary": "Obtiene la lista de sucursales.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/LocationPage"
                        }
                    }
                }
            }
        },
        "/api/Currencies": {
            "get": {
                "description": "Obtiene la lista de monedas.",
                "operationId": "Catalogs_GetCurrencies",
                "summary": "Obtiene la lista de monedas.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CurrencyPage"
                        }
                    }
                }
            }
        },
        "/api/Categories": {
            "get": {
                "description": "Obtiene la lista de Categorias.",
                "operationId": "Catalogs_GetCategories",
                "summary": "Obtiene la lista de Categorias.",
                "tags": [
                    "Catalogs"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Category1Array"
                        }
                    }
                }
            }
        },
        "/api/Banks": {
            "get": {
                "description": "Obtiene la lista de bancos.",
                "operationId": "Catalogs_GetBanks",
                "summary": "Obtiene la lista de bancos.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/BankPage"
                        }
                    }
                }
            }
        },
        "/api/Series": {
            "get": {
                "description": "Obtiene la lista de Series.",
                "operationId": "Catalogs_GetSeries",
                "summary": "Obtiene la lista de Series.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "docType",
                        "in": "query",
                        "description": "Format - int32.",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SeriesArray"
                        }
                    }
                }
            }
        },
        "/api/Users": {
            "get": {
                "description": "Obtiene la lista de usuarios.",
                "operationId": "Catalogs_GetUsers",
                "summary": "Obtiene la lista de usuarios.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/UserPage"
                        }
                    }
                }
            }
        },
        "/api/States": {
            "get": {
                "description": "Obtiene la lista de Estados.",
                "operationId": "Catalogs_GetStates",
                "summary": "Obtiene la lista de Estados.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/StatePage"
                        }
                    }
                }
            }
        },
        "/api/Cities": {
            "get": {
                "description": "Obtiene la lista de Ciudades por estado.",
                "operationId": "Catalogs_GetCities",
                "summary": "Obtiene la lista de Ciudades por estado.",
                "tags": [
                    "Catalogs"
                ],
                "parameters": [
                    {
                        "name": "stateID",
                        "in": "query",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CityPage"
                        }
                    }
                }
            }
        },
        "/api/Clients": {
            "get": {
                "description": "El filtro es opcional",
                "operationId": "Clients_Get",
                "summary": "Obtiene la lista de clientes.",
                "tags": [
                    "Clients"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ClientListItemPage"
                        }
                    }
                }
            },
            "put": {
                "description": "Editar Cliente",
                "operationId": "Clients_EditClient",
                "summary": "Editar Cliente",
                "tags": [
                    "Clients"
                ],
                "parameters": [
                    {
                        "name": "editClient",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EditClient"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "post": {
                "description": "Agregar Cliente",
                "operationId": "Clients_AddClient",
                "summary": "Agregar Cliente",
                "tags": [
                    "Clients"
                ],
                "parameters": [
                    {
                        "name": "newClient",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewClient"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiClientsPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            }
        },
        "/api/Clients/{id}": {
            "get": {
                "description": "Obtiene los detalles de un cliente.",
                "operationId": "Clients_GetDetails",
                "summary": "Obtiene los detalles de un cliente.",
                "tags": [
                    "Clients"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ClientDetails"
                        }
                    }
                }
            },
            "delete": {
                "description": "Borrar Cliente",
                "operationId": "Clients_DeleteByID",
                "summary": "Borrar Cliente",
                "tags": [
                    "Clients"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/Comments": {
            "get": {
                "description": "Listar comentarios por external ID",
                "operationId": "Comments_Get",
                "summary": "Listar comentarios por external ID",
                "tags": [
                    "Comments"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CommentPage"
                        }
                    }
                }
            },
            "post": {
                "description": "Agregar comentario",
                "operationId": "Comments_AddComment",
                "summary": "Agregar comentario",
                "tags": [
                    "Comments"
                ],
                "parameters": [
                    {
                        "name": "newComment",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewComment"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/CreditNotes": {
            "post": {
                "description": "Agregar Nota de Crédito",
                "operationId": "CreditNotes_AddCreditNote",
                "summary": "Agregar Nota de Crédito",
                "tags": [
                    "CreditNotes"
                ],
                "parameters": [
                    {
                        "name": "newCreditNote",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewCreditNote"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiCreditNotesPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            }
        },
        "/api/Expenses/Payment/{expenseID}": {
            "get": {
                "description": "Obtener pagos de una orden de gasto.",
                "operationId": "Expenses_GetPayment",
                "summary": "Obtener pagos de una orden de gasto.",
                "tags": [
                    "Expenses"
                ],
                "parameters": [
                    {
                        "name": "expenseID",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PaymentListItemPage"
                        }
                    }
                }
            }
        },
        "/api/Expenses/{id}": {
            "get": {
                "description": "Obtiene los detalles de una orden de gasto.",
                "operationId": "Expenses_GetDetail",
                "summary": "Obtiene los detalles de una orden de gasto.",
                "tags": [
                    "Expenses"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ExpenseDetails"
                        }
                    }
                }
            }
        },
        "/api/Formulas": {
            "get": {
                "description": "El filtro es opcional",
                "operationId": "Formulas_Get",
                "summary": "Obtiene la lista de productos.",
                "tags": [
                    "Formulas"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FormulaPage"
                        }
                    }
                }
            },
            "put": {
                "description": "Formulas_UpdateFormula",
                "operationId": "Formulas_UpdateFormula",
                "summary": "Formulas_UpdateFormula",
                "tags": [
                    "Formulas"
                ],
                "parameters": [
                    {
                        "name": "editFormula",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EditFormula"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "post": {
                "description": "Formulas_AddFormula",
                "operationId": "Formulas_AddFormula",
                "summary": "Formulas_AddFormula",
                "tags": [
                    "Formulas"
                ],
                "parameters": [
                    {
                        "name": "addFormula",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/AddFormula"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiFormulasPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            }
        },
        "/api/Formulas/{id}": {
            "get": {
                "description": "Formulas_GetFormulaDetailByID",
                "operationId": "Formulas_GetFormulaDetailByID",
                "summary": "Formulas_GetFormulaDetailByID",
                "tags": [
                    "Formulas"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/FormulaDetails"
                        }
                    }
                }
            },
            "delete": {
                "description": "Formulas_DeleteFormula",
                "operationId": "Formulas_DeleteFormula",
                "summary": "Formulas_DeleteFormula",
                "tags": [
                    "Formulas"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/Inventory": {
            "get": {
                "description": "Obtener inventario por almacén.",
                "operationId": "Inventory_GetInventoryByWarehouseID",
                "summary": "Obtener inventario por almacén.",
                "tags": [
                    "Inventory"
                ],
                "parameters": [
                    {
                        "name": "warehouseID",
                        "in": "query",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/InventorytPage"
                        }
                    }
                }
            },
            "post": {
                "description": "Agregar ajuste de inventario.",
                "operationId": "Inventory_AddInventoryAdjustment",
                "summary": "Agregar ajuste de inventario.",
                "tags": [
                    "Inventory"
                ],
                "parameters": [
                    {
                        "name": "newInventoryAdjustment",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewInventoryAdjustment"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/Invoices/{idOrNumber}": {
            "get": {
                "description": "Obtiene los detalles de una venta por número",
                "operationId": "Invoices_GetByNumber",
                "summary": "Obtiene los detalles de una venta por número",
                "tags": [
                    "Invoices"
                ],
                "parameters": [
                    {
                        "name": "idOrNumber",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/InvoiceDetails"
                        }
                    }
                }
            },
            "delete": {
                "description": "Eliminar factura",
                "operationId": "Invoices_DeleteInvoice",
                "summary": "Eliminar factura",
                "tags": [
                    "Invoices"
                ],
                "parameters": [
                    {
                        "name": "idOrNumber",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/Invoices/{id}/pdf": {
            "get": {
                "description": "Obtener el PDF de una venta",
                "operationId": "Invoices_GetPDF",
                "summary": "Obtener el PDF de una venta",
                "tags": [
                    "Invoices"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/octet-stream"
                ],
                "responses": {
                    "200": {
                        "description": "File Response",
                        "schema": {
                            "$ref": "#/definitions/ApiInvoicesIdPdfGet200ApplicationOctet-streamResponse"
                        }
                    }
                }
            }
        },
        "/api/Invoices/{id}/xml": {
            "get": {
                "description": "Obtener el XML de una venta",
                "operationId": "Invoices_GetXML",
                "summary": "Obtener el XML de una venta",
                "tags": [
                    "Invoices"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiInvoicesIdXmlGet200TextXmlResponse"
                        }
                    }
                }
            }
        },
        "/api/Invoices/Payment": {
            "post": {
                "description": "Registrar pago a venta",
                "operationId": "Invoices_AddPayment",
                "summary": "Registrar pago a venta",
                "tags": [
                    "Invoices"
                ],
                "parameters": [
                    {
                        "name": "newPayment",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewPayment"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/Invoices/Payment/{invoiceID}": {
            "get": {
                "description": "Obtener pagos de una factura.",
                "operationId": "Invoices_GetPayment",
                "summary": "Obtener pagos de una factura.",
                "tags": [
                    "Invoices"
                ],
                "parameters": [
                    {
                        "name": "invoiceID",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/PaymentListItemPage"
                        }
                    }
                }
            }
        },
        "/api/Invoices": {
            "get": {
                "description": "El filtro es opcional",
                "operationId": "Invoices_Get",
                "summary": "Obtiene la lista de ventas.",
                "tags": [
                    "Invoices"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/InvoiceListItemPage"
                        }
                    }
                }
            },
            "post": {
                "description": "Agregar Venta",
                "operationId": "Invoices_AddInvoice",
                "summary": "Agregar Venta",
                "tags": [
                    "Invoices"
                ],
                "parameters": [
                    {
                        "name": "newInvoice",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewInvoice"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiInvoicesPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            }
        },
        "/api/Orders": {
            "get": {
                "description": "El filtro es opcional",
                "operationId": "Orders_Get",
                "summary": "Obtiene la lista de pedidos.",
                "tags": [
                    "Orders"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrderListItemPage"
                        }
                    }
                }
            },
            "put": {
                "description": "Editar pedido",
                "operationId": "Orders_EditOrder",
                "summary": "Editar pedido",
                "tags": [
                    "Orders"
                ],
                "parameters": [
                    {
                        "name": "editOrder",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EditOrder"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "post": {
                "description": "Agregar pedido",
                "operationId": "Orders_AddOrder",
                "summary": "Agregar pedido",
                "tags": [
                    "Orders"
                ],
                "parameters": [
                    {
                        "name": "newOrder",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewOrder"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiOrdersPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            }
        },
        "/api/Orders/{id}": {
            "get": {
                "description": "Obtiene los detalles de un pedido",
                "operationId": "Orders_GetByID",
                "summary": "Obtiene los detalles de un pedido",
                "tags": [
                    "Orders"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OrderDetails"
                        }
                    }
                }
            },
            "delete": {
                "description": "Eliminar pedido",
                "operationId": "Orders_DeleteOrder",
                "summary": "Eliminar pedido",
                "tags": [
                    "Orders"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid. ID",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/ProductsPriceAndInventory": {
            "get": {
                "description": "Obtiene la lista de productos, con información de precios e inventarios.\nEsta función solamente se puede consultar una vez cada 5 minutos.",
                "operationId": "Products_GetProductsWithPriceAndInv",
                "summary": "Obtiene la lista de productos, con información de precios e inventarios",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "warehouseId",
                        "in": "query",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "priceListId",
                        "in": "query",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProductPriceAndInventoryArray"
                        }
                    }
                }
            }
        },
        "/api/Products/{id}/image": {
            "get": {
                "description": "Obtiene la imagen del producto.",
                "operationId": "Products_GetImage",
                "summary": "Obtiene la imagen del producto.",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiProductsIdImageGet200TextXmlResponse"
                        }
                    }
                }
            }
        },
        "/api/Products": {
            "get": {
                "description": "El filtro es opcional",
                "operationId": "Products_Get",
                "summary": "Obtiene la lista de productos.",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProductPage"
                        }
                    }
                }
            },
            "put": {
                "description": "Editar Producto",
                "operationId": "Products_EditProduct",
                "summary": "Editar Producto",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "editProduct",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EditProduct"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "post": {
                "description": "Agregar Producto",
                "operationId": "Products_AddProduct",
                "summary": "Agregar Producto",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "newProduct",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewProduct"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiProductsPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            }
        },
        "/api/Products/{id}": {
            "get": {
                "description": "Obtiene los detalles de un producto.",
                "operationId": "Products_GetDetail",
                "summary": "Obtiene los detalles de un producto.",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProductDetails"
                        }
                    }
                }
            },
            "delete": {
                "description": "Borrar Producto",
                "operationId": "Products_DeleteByID",
                "summary": "Borrar Producto",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/Prospects": {
            "get": {
                "description": "Obtiene la lista de prospectos.",
                "operationId": "Prospects_GetProspects",
                "summary": "Obtiene la lista de prospectos.",
                "tags": [
                    "Prospects"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProspectListItemPage"
                        }
                    }
                }
            },
            "put": {
                "description": "Editar Prospecto",
                "operationId": "Prospects_EditClient",
                "summary": "Editar Prospecto",
                "tags": [
                    "Prospects"
                ],
                "parameters": [
                    {
                        "name": "editProspect",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EditProspect"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "post": {
                "description": "Agregar Prospecto",
                "operationId": "Prospects_AddProspect",
                "summary": "Agregar Prospecto",
                "tags": [
                    "Prospects"
                ],
                "parameters": [
                    {
                        "name": "newProspect",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewProspect"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiProspectsPost200TextXmlResponse"
                        }
                    }
                }
            }
        },
        "/api/Prospects/{id}": {
            "get": {
                "description": "Obtiene los detalles de un prospecto.",
                "operationId": "Prospects_Get",
                "summary": "Obtiene los detalles de un prospecto.",
                "tags": [
                    "Prospects"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProspectDetails"
                        }
                    }
                }
            },
            "delete": {
                "description": "Borrar Prospecto",
                "operationId": "Prospects_DeleteByID",
                "summary": "Borrar Prospecto",
                "tags": [
                    "Prospects"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/Providers": {
            "get": {
                "description": "Obtiene la lista de proveedores.",
                "operationId": "Providers_GetProviders",
                "summary": "Obtiene la lista de proveedores.",
                "tags": [
                    "Providers"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProviderListItemPage"
                        }
                    }
                }
            },
            "put": {
                "description": "Editar Proveedor",
                "operationId": "Providers_EditProvider",
                "summary": "Editar Proveedor",
                "tags": [
                    "Providers"
                ],
                "parameters": [
                    {
                        "name": "editProvider",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EditProvider"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            },
            "post": {
                "description": "Agregar Proveedor",
                "operationId": "Providers_AddProvider",
                "summary": "Agregar Proveedor",
                "tags": [
                    "Providers"
                ],
                "parameters": [
                    {
                        "name": "newProvider",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewProvider"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiProvidersPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            }
        },
        "/api/Providers/{id}": {
            "delete": {
                "description": "Borrar Proveedor",
                "operationId": "Providers_DeleteByID",
                "summary": "Borrar Proveedor",
                "tags": [
                    "Providers"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/Quotes": {
            "get": {
                "description": "Quotes_Get",
                "operationId": "Quotes_Get",
                "summary": "Quotes_Get",
                "tags": [
                    "Quotes"
                ],
                "parameters": [
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "type": "string"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "type": "string"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Returns only the first n results.",
                        "type": "integer"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Skips the first n results.",
                        "type": "integer"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/QuoteListItemPage"
                        }
                    }
                }
            },
            "put": {
                "description": "Quotes_UpdateQuote",
                "operationId": "Quotes_UpdateQuote",
                "summary": "Quotes_UpdateQuote",
                "tags": [
                    "Quotes"
                ],
                "parameters": [
                    {
                        "name": "editQuote",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/EditQuote"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiQuotesPut200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            },
            "post": {
                "description": "Quotes_NewQuote",
                "operationId": "Quotes_NewQuote",
                "summary": "Quotes_NewQuote",
                "tags": [
                    "Quotes"
                ],
                "parameters": [
                    {
                        "name": "newQuote",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/NewQuote"
                        }
                    }
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ApiQuotesPost200TextXmlResponse"
                        },
                        "examples": {
                            "application/json": "00000000-0000-0000-0000-000000000000",
                            "text/json": "00000000-0000-0000-0000-000000000000",
                            "application/xml": "00000000-0000-0000-0000-000000000000",
                            "text/xml": "00000000-0000-0000-0000-000000000000"
                        }
                    }
                }
            }
        },
        "/api/Quotes/{ID}": {
            "get": {
                "description": "Quotes_Getdetail",
                "operationId": "Quotes_Getdetail",
                "summary": "Quotes_Getdetail",
                "tags": [
                    "Quotes"
                ],
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/QuoteDetail"
                        }
                    }
                }
            },
            "delete": {
                "description": "Quotes_DeleteQuote",
                "operationId": "Quotes_DeleteQuote",
                "summary": "Quotes_DeleteQuote",
                "tags": [
                    "Quotes"
                ],
                "parameters": [
                    {
                        "name": "ID",
                        "in": "path",
                        "description": "Format - uuid.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    }
                }
            }
        },
        "/api/Services": {
            "get": {
                "description": "El filtro es opcional",
                "operationId": "Services_GetServices",
[...]
